<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Name - Portfolio">
    <meta name="author" content="Your Name">

    <title> Arjun Suwal - Portfolio</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gt_favicon.png') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!-- Icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!--[if lt IE 9]> <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script> <![endif]-->
</head>
<body>

<header id="header">
    <div id="head" class="parallax" parallax-speed="1">
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="{{ url_for('static', filename='images/mypic.jpg') }}" alt="Arjun Suwal">
            <span class="title"> Arjun Suwal</span>
            <span class="tagline">Data Analyst & AI Enthusiast</span>
        </h1>
    </div>

    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#technical-skills">Technical Skills</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                    
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

<main id="main">

    <div class="container">

        <div class="row topspace">
            <div class="col-sm-8 col-sm-offset-2">

                <section id="about" class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">About Me</h1>
                    </header>
                    <div class="entry-content">
                        <p>I am a Data Analyst with 3 year of experience associated with Khudra Online Shopping Pvt Ltd. I have helped stakeholder to get valuable insights to make strategic and profitable decisions. I am currently pursuing a Post Graduate Certificate in Artificial Intelligence Analysis, Design, and Implementation from Durham College. My passion for AI and continuous learning drives me to stay updated with the latest trends and technologies in the field.</p>
                    </div>
                </section><!-- #about -->

                <section id="technical-skills" class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">Technical Skills</h1>
                    </header>
                    <div class="entry-content">
                        <ul class="technical-skills-list">
                            <li><strong>Programming Languages:</strong> Python, R, SQL, HTML</li>
                            <li><strong>Testing Tools:</strong> Selenium, Postman, TestRail, Jenkins </li>                            <li><strong>API Testing:</strong> REST</li>
                            <li><strong>Cloud Computing:</strong> Service Virtualization</li>
                            <li><strong>Data Visualization:</strong> Tableau, PowerBI, R </li>
                            <li><strong>Other Tools:</strong> AWS</li>
                        </ul>
                    </div>
                </section><!-- #technical-skills -->

                <section id="experience" class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">Experience</h1>
                    </header>
                    <div class="entry-content">
                        <h3>Khudra Online Shopping Pvt. Ltd (2022-2025)</h3>
                        <p>Data Analyst</p>
                        <ul>
                            <li>Collect, clean, and organize data from multiple sources (website, sales, marketing, CRM).</li>
                            <li>Maintain and update dashboards and performance reports for different departments.</li>
                            <li>Monitor and analyze key e-commerce metrics (conversion rate, AOV, CAC, retention rate).</li>
                            <li>Perform customer segmentation based on behavior, demographics, and purchase patterns.</li>
                            <li>Conduct funnel analysis to identify drop-off points in the shopping journey.</li>
                            <li>Evaluate marketing campaign performance (ROI, CTR, CPC) and suggest optimizations.</li>
                            <li>Track and forecast sales trends to assist with inventory and supply chain planning.</li>
                            <li>Conduct product performance analysis, including sales volume, returns, and reviews. Perform A/B tests and other statistical analyses to guide decision-making.</li>
                            <li>Provide actionable insights and recommendations to marketing, product, and operations teams. Collaborate with stakeholders to translate business needs into analytical projects.</li>
                            <li>Prepare clear visualizations and reports to communicate findings to non-technical teams.</li>
                            <li>Ensure data accuracy, integrity, and security in all analysis and reporting processes.</li>
                        </ul>

                        <h3>Outlier AI (2024-2024)</h3>
                        <p>Mathematics Expert (Freelance)</p>
                        <ul>
                            <li>Create clear, accurate, and well-structured solutions to mathematical problems using LaTeX formatting.</li>
                            <li>Review and evaluate mathematical responses generated by others for accuracy, clarity, and completeness.</li>
                            <li>Identify and correct errors in problem solutions, formatting, and notation. Ensure adherence to project guidelines, quality standards, and formatting requirements.</li>
                            <li>Break down complex mathematical concepts into step-by-step explanations for better understanding.</li>
                            <li>Collaborate with team members or follow reviewer feedback to improve solution quality. Meet deadlines for content creation and review tasks while ensuring high accuracy.</li>
                            <li>Stay updated on mathematical problem-solving methods and LaTeX best practices.</li>
                        </ul>
                    </div>
                </section><!-- #experience -->

                <section id="education" class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">Education</h1>
                    </header>
                    <div class="entry-content">
                        <h3>Durham College (2025-Present)</h3>
                        <p>Post Graduate Certificate in Artificial Intelligence Analysis, Design, and Implementation</p>

                        <h3>Durham College (2024-2024)</h3>
                        <p>Post Graduate Certificate in Data Analytics for Business Decision Making</p>

                        <h3>Tri-Chandra Multiple Campus (2017-2021)</h3>
                        <p>Bachelor of Science (Physics, Statistics and Mathematics)</p>
                    </div>
                </section><!-- #education -->

                <section id="certifications" class="post">
                    <header class="entry-header">
                        <h1 class="entry-title">Certifications</h1>
                    </header>
                    <div class="entry-content">
                        <ul>
                            <li>Github Action (2024)</li>
                            <li>Microsoft SQL Server 2016 Essential Training (2024)</li>
                            <li>Python Programming (2020)</li>
                        </ul>
                    </div>
                </section><!-- #certifications -->
            </div>
        </div> <!-- /row post  -->

    </div>    <!-- /container -->

</main>

<footer id="footer" class="topspace">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p><a href="mailto:arjunsuwal900@gmail.com">arjunsuwal900@gmail.com</a></p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <h3 class="widget-title">Follow Me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href="https://www.linkedin.com/in/arjun-suwal-3b7b45143/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/arjunsuwal" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://x.com/arjunsuwal9001" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/arjunsuwal900" target="_blank"><i class="fa fa-facebook"></i></a>
                    </p>
                </div>
            </div>
        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 widget">
                <div class="widget-body">
                    <p class="text-right">&copy; 2025 Arjun Suwal. All rights reserved.</p>
                </div>
            </div>
        </div> <!-- /row of widgets -->
    </div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
